<!-- Need an authorisation -->

<% if signed_in? %>



    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-11 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">With 1 click</span>
                <span class="section-heading-lower">Search for your holiday pad now</span>
              </h2>
                  <div>
					<!-- ??? how to convert this form to FORM FOR ??? -->
					<%= form_tag root_path, :method => 'get' do %>
							<div class="row">
								<div class="col-xl-3 mx-auto">
									<%= label_tag 'Name' %>
									<%= text_field_tag :search_name, params[:search_name] %>
								</div>
								<div class="col-xl-3 mx-auto">
									<%= label_tag 'Maximum Price(RM)' %>
									<%= text_field_tag :search_max_price, params[:search_max_price] %>
								</div>
								<div class="col-xl-3 mx-auto">
									<%= label_tag 'Country' %>
									<%= text_field_tag :search_country, params[:search_country] %>
								</div>
							</div>
							<br>
								<div>
									<!-- form to reset ie show  available -->
									<%= submit_tag "Search", :name => nil %>
										
								</div>
					<%end%>
									<%= form_tag root_path, :method => "get" do %>
									<input type="hidden" name="reset" value=true/>
										<%= submit_tag "Reset Filter", :name => nil %>
									<% end %>
					</div>

					<br>

					<div>	
						<h5><span class="section-heading-upper">Or search by tags!</span></h5>
						<% @tags.each do |tag| %>
							<%= form_tag root_path, :method => "get", remote: true do %>
							<%= hidden_field_tag  :tag, tag.id %>
							<%= submit_tag tag.name, :name => nil %>
							<% end %>
						<% end %>
					</div>	
            </div>
          </div>
        </div>
      </div>
    </section>

    		<!-- Search by tags -->


		<div class="container">
			<div id="listing-list" class="card-columns text-center">
				<%@listings.order(created_at: :desc).each do |listing|%>
				<div class="card">
					<% if listing.images.first != nil %>
						<%=image_tag(listing.images.first.url, :style => "height: 10%", class: "img-fluid")%>
					<%end%>
					<h3 class="card-title"><%=listing.name%><%if listing.created_at.between?((Time.now - 48.hours), Time.now)%>
					<span class="badge badge-pill badge-info">NEW!</span><%end%></h3>
						<h5 class="card-subtitle"><%=listing.description%></h5>
						<p>Hosted by <%=listing.user.first_name%> since <%=listing.created_at%>
							<br>
							<a href="/listings/<%=listing.id%>">Book this property!</a>
							<br>

							<!-- Only moderator/admin can see this and 2 options for verify and non verify -->
							<%if current_user.admin? || current_user.moderator?%>
								<%if listing.verified? == false%>
									<%= link_to 'Verify Listing', verify_listing_path(listing), method: :patch %>
								<%else%>
								 	<%= link_to 'Un-verify Listing', verify_listing_path(listing), method: :patch %>
								<%end%>
							<%end%>
						</p>
				</div>
				<%end%>				
			</div>
		</div>

	<div class="pagination-wrapper">
			<%= will_paginate @listings %>
	</div>


	<br>
	<br>
	<p>Note to-del. Route -  Listings#index Find me in app/views/listings/index.html.erb</p>
<% end %>

