<!-- Need an authorisation -->

<% if signed_in? %>

	<div>
		<h1>The world of Hey-BNB</h1>
		<p>Make your bed then lie in it!</p>
	</div>

	<div>
		<p>Welcome back, <%=current_user.first_name%>!</p>
	</div>

	<div>
		This is all the listings available!
		<div>
			<%@listings.order(created_at: :desc).each do |listing|%>
			<div>
				<a href="/listings/<%=listing.id%>">ID:<%=listing.id%> => Name:<%=listing.name%>
				Created at: <%=listing.created_at%>
				By: <%=listing.user.first_name%></a>
				<br>
				<!-- Only moderator/admin can see this and 2 options for verify and non verify -->
				<%if current_user.admin? || current_user.moderator?%>
					<%if listing.verified? == false%>
						<%= link_to 'Verify Listing', verify_listing_path(listing), method: :patch %>
					<%else%>
					 	<%= link_to 'Un-verify Listing', verify_listing_path(listing), method: :patch %>
					<%end%>

				<%end%>
			</div>
			<%end%>
		</div>
		<!-- add a link to lead to various pages http://localhost:3000/?page=3 -->
		
			<%= will_paginate @listings %>
		<div class="pagination">
			<ul class="pagination pagination-sm">
			  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
			  <li class="page-item"><a class="page-link" href="http://localhost:3000/?page=1">1</a></li>
			  <li class="page-item"><a class="page-link" href="http://localhost:3000/?page=2">2</a></li>
			  <li class="page-item"><a class="page-link" href="http://localhost:3000/?page=3">3</a></li>
			  <li class="page-item"><a class="page-link" href="http://localhost:3000/?page=4">4</a></li>
			  <li class="page-item"><a class="page-link" href="http://localhost:3000/?page=5">5</a></li>
			  <li class="page-item"><a class="page-link" href="#">Next</a></li>
			</ul>
		</div>
	</div>
	<p>??? Link to book from any listing ???</p>

	Or go to your profile <%= link_to "here", user_path(current_user) %>

	<br>
	<br>
	<p>Note to-del. Route -  Listings#index Find me in app/views/listings/index.html.erb</p>
<% end %>

