<h2>This is listing named <%= @listing.name %>!</h2>

<div>
	Listed by: <%=@listing.user.first_name%> email <%=@listing.user.email%><br>
	Name of property: <%=@listing.name%><br>
	Property Description: <%=@listing.description%><br>
	Address: <%=@listing.address_1%>, <%=@listing.address_2%>, <%=@listing.postcode%><br>
	State: <%=@listing.state%><br>
	Country: <%=@listing.country%><br>
	Number of bedroom: <%=@listing.bedroom%><br>
	Number of bed: <%=@listing.bed%><br>
	Number of bathroom: <%=@listing.bathroom%><br>
	Space available: <%=@listing.space%><br>
	Maximum guest(s) allowed: <%=@listing.max_guest%><br>
	Price per night ranges from (RM): <%=@listing.min_price%> - <%=@listing.max_price%><br><br>
	<div>
	Photo Gallery:<br>
		<%@listing.images.each do |p|%>
					<%=image_tag(p.url, height: '100', width: '100')%>
		<%end%>
	</div>

	<div>
		<%if @reservations.where(listing_id: @listing.id).present?%>
			<h6>This property has been booked <%=@reservations.where(listing_id: @listing.id).count%> times by:</h6>

			<%@reservations.where(listing_id: @listing.id).order(check_out_date: :asc).each do |reservation|%>
				<%=reservation.user.first_name%> between <%=reservation.check_in_date%> and <%=reservation.check_out_date%>
				<br>
			<%end%>
		<%else%>
			<h6>Be the first booker!</h6>
		<%end%>

	</div>

	<div>
		<%if @listing.verified?%>
			<h4>This property has been verified by our admin!</h4>
		<%end%>
	</div>
	<div>
		<%= link_to "Book this place!", new_listing_reservation_path(@listing) %>
	</div>
</div>


<br>
<br>

<div>
go back to your profile <%= link_to "here", user_path(current_user) %>
</div>

<br>
<br>
<br>
<br>
<p>Note to del: R - Listings#Show. Show.erb</p>