<div id="user-reservations">
	<%@reservations.where(user_id: current_user.id).reverse.each do |reservation|%>
		Reservation number: <%=reservation.id%>
		Property: <%=reservation.listing_id%>:<%=reservation.listing.name%><br>
		Check-in Time: <%=reservation.check_in_date%><br>
		Check-out Time: <%=reservation.check_out_date%><br>
		Status: <%=reservation.status%><br>
		Made on: <%=reservation.created_at%>
		<br><br>
		<%= link_to "Make Payment", pay_reservation_path(listing_id: reservation.listing_id, id: reservation.id) %>
		<br><br>
	<%end%>
</div>