<h1>You are making a reservation for listing: <%=@listing.name%></h1>

<div>
	Listed by: <%=@listing.user.first_name%><br>
	Name of property: <%=@listing.name%><br>
	Property Description: <%=@listing.description%><br>
	Address: <%=@listing.address_1%>, <%=@listing.address_2%>, <%=@listing.postcode%><br>
	State: <%=@listing.state%><br>
	Country: <%=@listing.country%><br>
	Number of bedroom: <%=@listing.bedroom%><br>
	Number of bed: <%=@listing.bed%><br>
	Number of bathroom: <%=@listing.bathroom%><br>
	Space available: <%=@listing.space%><br>
	Maximum guest(s) allowed: <%=@listing.max_guest%><br>
	Price per night ranges from (RM): <%=@listing.min_price%> - <%=@listing.max_price%><br><br>
	<div>
	Photo Gallery:<br>
		<%@listing.images.each do |p|%>
					<%=image_tag(p.url, height: '100', width: '100')%>
		<%end%>
	</div>
</div>

<div>
FORM TO FILL UP RESERVATION!

	<%=form_for(@reservation, url: create_reservation_path) do |form|%>
		<%= render partial: '/reservations/form', object: form %>

		<%=form.submit%>
	<%end%>
</div>

<br>
<br>
<br>
<br>
<p>Note to del: R - Res#New. New.erb</p>
